<!--
  Generated template for the RegistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <uni-header (clkBack)="closeModal()" [showmodal]="true" [title]="'注册'"></uni-header>

</ion-header>


<ion-content style="text-align:center;padding:10px;">

  <img style="margin-top:20px;" width="30%" src="assets/imgs/logo.png" alt=""/><br/>

  <div class="forms">

    <ion-segment class="reg-tabs" [(ngModel)]="registmethod">
      <ion-segment-button value="normal">
        账号密码注册
      </ion-segment-button>
      <ion-segment-button value="phone">
        手机注册
      </ion-segment-button>
    </ion-segment>
    
    <div [ngSwitch]="registmethod">

      <form style="margin:25px 0 0 0;" *ngSwitchCase="'normal'" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left">
        <ion-list>
          <ion-item>
            <input [formControl]="name" type="text" placeholder="用户名">
          </ion-item>
          <ion-item>
            <input [formControl]="password" type="text" placeholder="密码">
          </ion-item>
          <ion-item>
            <input [formControl]="confirmPassword" type="text" placeholder="确认密码">
          </ion-item>
        </ion-list>
        <div class="errors">
            <span class="help-block" *ngIf="form.get('name').touched">
                <span class="text-danger" *ngIf="form.get('name').hasError('required')">请输入用户名<br/></span>
            </span>
            <span class="help-block" *ngIf="form.get('password').touched">
                <span class="text-danger" *ngIf="form.get('password').hasError('required')">请输入密码<br/></span>
                <span class="text-danger" *ngIf="form.get('password').hasError('minlength')">密码最少6位<br/></span>
            </span>
            <span class="help-block" *ngIf="form.get('confirmPassword').touched">
                <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('required')">请输入确认密码</span><br/>
                <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">两次输入密码不一致</span>
            </span> 
        </div>
        <button [disabled]="!form.valid" (click)="checkLogin()" ion-button class="btn-confirm">注  册</button>
      </form>

      <form class="lform" *ngSwitchCase="'phone'">
        <div class="lcontrol">
          <input [(ngModel)]="phonenumber" name="uname" type="text" style="width:210px;float:left;" placeholder="手机号码">
          <button [disabled]="!isEnableSend" (click)="getVerifynum()" ion-button class="send">获取验证码</button>
        </div>
        <div class="lcontrol">
          <input [(ngModel)]="phonepassword" name="upass" type="text" placeholder="验证码">
        </div>
        
        <a *ngIf="!isValidPhone" style="text-align:left;display:block;color:#f00;margin-top:10px;" class="link_regist">请输入正确的手机号码</a><br/>
        <a *ngIf="!isEnableSend" style="text-align:left;display:block;color:#333;margin-top:10px;" class="link_regist">{{lastsecond}}秒后可重新发送</a><br/>
        <button (click)="registPhone()" [disabled]="phonenumber=='' || phonepassword==''" ion-button class="btn-confirm">注  册</button><br/>

      </form>

    </div>

  </div>

</ion-content>
