<!-- Generated template for the UniFastlinkComponent component -->
<div class="fast-links">
  <h5>快捷导航</h5>
  <div class="links">
    <div class="lk">
      <div class="lk-cir">
        <span class="icons ico-fl1"></span>
      </div><br/>
      宽带测速
    </div>
    <div class="lk">
      <div class="lk-cir" style="background:#FF677C;">
        <span class="icons ico-fl2"></span>
      </div><br/>
      宽带缴费
    </div>
    <div class="lk">
      <div class="lk-cir" style="background:#7851EA;">
        <span class="icons ico-fl3"></span>
      </div><br/>
      签到
    </div>
    <div class="lk">
      <div class="lk-cir" style="background:#01AAFF;">
        <span class="icons ico-fl4"></span>
      </div><br/>
      设备列表
    </div>
  </div>
</div>
